@charset "UTF-8";

/* TODO: 여기에 작성해보세요 */
form label { 
    display: inline-block;
    width:  100px;
}

input[type^='t'],
textarea { 
    border:  1px solid #ccc;
    padding: 8px;
    border: -radius: 5px;
    width: 300px;
}

textarea { 
    /* 크기 변경 여부 지정 */
    resize: none;
}

label[for^='co'] { 
    position: relative;
    top: -90px;
}

input[type^='b'] { 
    padding: 10px 20px;
    border: 1px solid #bc3636;
    background-color: #bc3636;
    color: white;
    border-radius: 5px;
}

/* :hover - 마무스 올렸을 때 스타일 지정 */
input[type^='b']:hover { 
    border: 1px solid cornflowerblue;
    background-color: lightskyblue;
    cursor: pointer;
}

/* :active - 마우스 누르고 있을 때 스타일 지정*/
input[type^='b']:active{ 
    
}